/* Vars to help with transition animations*/
:root {
  --tx: 0px; /* tx ty are end coordinates for the tile when placed in board*/
  --ty: 0px;
  --txs: 0px;
  --tys: 0px; /* Coordinates for where the animation should start, i.e position of clicked tile*/
  --scale: 0.7;
  --deg: 60deg;
  --persp: 200px;
}
@keyframes fade {
  0% {
    opacity: 1;
  }

  100% {
    background-color: transparent;
    z-index: -1;

    opacity: 0;
    display: none;
  }
}
//https://css-tricks.com/snippets/css/shake-css-keyframe-animation/
@keyframes shake {
  10%,
  90% {
    transform: translate3d(-2px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(4px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-6px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(6px, 0, 0);
  }
}

@keyframes setTile {
  0% {
    transform: rotateX(var(--deg)) perspective(var(--persp));
  }
  50% {
    transform: rotateX(20deg);
    // transform: translate3d(calc(var(--tx) /0.8 ) , calc(var(--ty)/0.8), 0) rotateX(0deg) scale(1);
  }
  100% {
    transform: translate3d(var(--tx), var(--ty), 0) rotateX(0deg) scale(1);
  }
}
@-webkit-keyframes setTile {
  0% {
    transform: rotateX(var(--deg)) perspective(var(--persp));
  }
  50% {
    perspective: 50px;
    transform: rotateX(20deg);
  }
  100% {
    transform: translate3d(var(--tx), var(--ty), 0) rotateX(0deg) scale(1);
  }
}
@keyframes scoreAnimationLow {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    transform: translateY(-400px);
  }
}

@keyframes scoreAnimationMid {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    transform: translateY(-400px) scale(3);
  }
}

@keyframes scoreAnimationHigh {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    transform: translateY(-400px) scale(5) rotate(360deg);
    text-transform: uppercase;
  }
}
@-webkit-keyframes removeTile {
  0% {
    transform: rotateX(0deg);
    // perspective: 100px;
  }
  50% {
    // perspective: 200px;
    transform: rotateX(20deg);
  }
  100% {
    transform: translate3d(var(--tx), var(--ty), 0) scale(var(--scale))
      rotateX(var(--deg)) perspective(var(--persp));
    visibility: hidden;
  }
}
@keyframes removeTile {
  0% {
    transform: rotateX(0deg);
    // perspective: 100px;
  }
  50% {
    perspective: 200px;
    // transform: rotateX(20deg);
  }
  100% {
    transform: translate3d(var(--tx), var(--ty), 0) scale(var(--scale))
      rotateX(var(--deg)) perspective(var(--persp));
    visibility: hidden;
  }
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body,
html {
  width: 100%;
  height: 100%;
  font-family: Bookman, Geneva, Tahoma, sans-serif;
}

body {
  background: #dda7ab;
  transform: translateZ(0);
  -webkit-transform: translateZ(0);
  perspective: 1000px;
}
header {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  height: 15%;
  // justify-content: flex-end;
  justify-content: space-between;
  align-items: center;
  font-size: 0.8em;
  color: #0e0c0c;
  label {
    font-weight: 800;
    font-size: 1.5em;
    padding: 1rem;
  }
}
header #score {
  // flex-basis: 10%;
  padding: 1%;
}
header #timer {
  // flex-grow: 1;
  padding: 1% 1% 1% 2%;
}
header #timer-num {
  color: #ffffff;
}
#score-animation {
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  color: #ffffff;
  text-transform: capitalize;
  font-size: 1.5em;
  opacity: 0;
}
.lowScore {
  animation: scoreAnimationLow 2s linear;
  animation-iteration-count: 1;
}
.midScore {
  animation: scoreAnimationMid 2s linear;
  animation-iteration-count: 1;
}
.highScore {
  animation: scoreAnimationHigh 3s linear;
  animation-iteration-count: 1;
}

.tileHidden {
  visibility: hidden;
  z-index: -1;
}

#answer-row {
  display: flex;
  flex-direction: row;
  position: relative;
  box-shadow: -1em 1em 1em hsl(0, 0%, 31%);
  justify-content: flex-start;
  align-content: center;
  width: 700px;
  margin: 0 auto;
  height: 100px;
  background-color: #f1e4e4;
  top: 20%;

}
#answer-row .tile {
  height: 100px;
  background-image: url("https://i.pinimg.com/originals/34/7b/05/347b05f70e3ec739230bb470bdda89d7.jpg");
  width: 100px;
  text-align: center;
  font-family: Bookman, Geneva, Tahoma, sans-serif;
  font-weight: 700;
  font-size: 2.5em;
  line-height: 2.5em;
  transition: 0.5s transform ease;
  cursor: pointer;
  transform: rotateX(0deg);
}
#answer-row.wrong {
  animation: shake 0.8s cubic-bezier(0.36, 0.07, 0.19, 0.97);
}
#answer-row .tile-value {
  display: inline-block;
  font-size: 0.5em;
  text-align: center;
  padding-left: 1%;
  transform: translateX(1.3em) translateY(1.6em);
}
#answer-row:hover {
  transition: background-color 0.3s linear;
  background-color: #fcf4f4;
}
#tile-row {
  display: flex;
  flex-direction: row;
  min-width: 50%;
  position: relative;
  top: 40%;
  margin: 0 auto;
  height: 100px;
  perspective: 1px;
  justify-content: space-around;
  align-content: center;
  perspective: 500px;
  width: 700px;
}
.tile {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style-type: none;
  height: 100px;
  background-image: url("https://i.pinimg.com/originals/34/7b/05/347b05f70e3ec739230bb470bdda89d7.jpg");
  width: 100px;
  text-align: center;
  font-family: Bookman, Geneva, Tahoma, sans-serif;
  font-weight: 700;
  font-size: 2.5em;
  line-height: 2.5em;
  transition: 0.5s transform ease;
  box-shadow: 0px 20px 50px #555;
  transform: rotateX(60deg) scale(0.7);
  perspective: 200px;
  cursor: pointer;
  max-width: 100px;
  z-index: 1;
  &-clone {
    position: absolute;
    box-shadow: none;
    visibility: hidden;
    transform: rotateX(0deg);
    box-shadow: none;
  }
}
.tile-value {
  display: inline-block;
  font-size: 0.5em;
  transform: translateX(1.5em) translateY(2em);
}

// #tile-row li:hover {
//   transform: rotateX(0deg) scale(1);
// }

.setTileAnim {
  animation: setTile 0.7s  forwards ;
  -webkit-animation: setTile 0.7s forwards ;
  z-index: 3;
}

.removeTileAnim {
  animation: removeTile 0.5s forwards;
  -webkit-animation: removeTile 0.5s forwards;
  z-index: 3;
}

footer {
  display: flex;
  justify-content: space-around;
  padding: 1% 2% 1% 2%;
  align-items: center;
  position: relative;
  bottom: 0;
  width: 100%;
  font-size: 1.5em;
  top: 40%;
  #theme-label {
    margin-right: auto;
  }
}

button {
  font-family: Bookman, Geneva, Tahoma, sans-serif;
  text-transform: uppercase;
  padding: 0.5%;
  width: 10%;
  min-width: 100px;
  background-color: #b6aeae;
  color: rgb(22, 22, 22);
  margin: 0 2% 0 2%;
  font-size: 0.8em;
  border-radius: 5px;
  box-shadow: 0px 5px 2px #89968f;
  position: relative;
  top: 0px;
  transition: top ease 0.1s;
}
button:active {
  box-shadow: 0 3px 0 #89968f;
  top: 3px;
}

.loading {
  position: absolute;
  background-color: black;
  width: 100%;
  height: 100%;
  z-index: 2;
  text-align: center;
  color: white;
  font-size: 2em;
  animation: fade 0.7s ease-out forwards;
  animation-delay: 3s;
  &-content {
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  &-title {
    margin: 3rem 0;
    font-size: 2rem;
  }
  &-instructions {
    font-size: 1.1rem;
    list-style: circle;
    color: white;
    li {
      text-align: left;
      margin: 0.4rem 2rem;
    }
  }
}

/* Loading Animation from https://loading.io/css/ */
.lds-ring {
  display: inline-block;
  position: relative;
  width: 8rem;
  height: 8rem;
  margin-right: 1rem;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 8rem;
  height: 8rem;
  border: 8px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

.game-over {
  color: white;
  position: absolute;
  background: #47484bf5;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 2rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 50%;
  transition: opacity 3s;
  a {
    text-decoration: none;
    color: black;
  }
  h1 {
    width: 100%;
    text-align: center;
    padding: 1rem;
  }
  &-buttons {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
  }
  button {
    margin: 0 5rem;
    padding: 0.4rem;
    font-size: 1rem;
    cursor: pointer;
  }
  &-score {
    margin-top: 3rem;
  }
  &.hide {
    left: -9999px;
  }
  &-social {
    margin-top: 3rem;
    display: flex;
    img {
      height: auto;
      width: 100%;
      overflow: hidden;
    }
    a {
      width: 2.5rem;
      margin: 0 1rem;
    }
  }
}

#content {
  width: 100%;
  height: 100%;
  &.darken {
    transition: filter 0.4s;
    filter: blur(3px);
  }
}

@media only screen and (max-width: 700px) {
  #tile-row {
    width: 450px;
    height: 50px;
  }
  .game-over {
    width: 75%;
  }

  .tile {
    padding: 0.2rem;
    height: 60px;
    width: 70px;
    line-height: 1em;
    box-shadow: 0px 20px 50px #555;
    transform: rotateX(50deg) scale(0.85);
    perspective: 800px;
  }
  #answer-row {
    width: 450px;
    height: 50px;
  }
  #answer-row .tile {
    height: 60px;
    width: 70px;
    line-height: 1.5em;
    font-size: 2em;
  }
  #answer-row .tile-value {
    font-size: 0.4em;
    text-align: center;
    padding-left: 0;
    transform: translateX(0.8em) translateY(1.5em);
  }
  .tile-value {
    display: inline-block;
    font-size: 0.5em;
    transform: translateX(0.3em) translateY(0.9em);
  }
  footer {
    top: 50%;
  }
  .info {
    font-size: 1em;
    line-height: 25em;
  }
  footer button {
    font-size: 0.5em;
  }
}

@media only screen and (max-width: 450px) {
  #tile-row {
    width: 350px;
    height: 50px;
  }
  .game-over {
    width: 100%;
    button {
      margin: 0 1rem;
    }
  }

  .tile {
    height: 50px;
    width: 50px;
    line-height: 1em;
    box-shadow: 0px 20px 50px #555;
    transform: rotateX(50deg) scale(0.85);
    perspective: 800px;
  }
  #answer-row {
    width: 350px;
    height: 50px;
  }
  #answer-row .tile {
    height: 50px;
    width: 50px;
    line-height: 1.5em;
    font-size: 2em;
  }
  #answer-row .tile-value {
    font-size: 0.4em;
    text-align: center;
    padding-left: 0;
    transform: translateX(0.8em) translateY(1.5em);
  }
  .tile-value {
    display: inline-block;
    font-size: 0.5em;
    transform: translateX(0.3em) translateY(0.9em);
  }
  footer {
    top: 50%;
  }
  .info {
    font-size: 1em;
    line-height: 25em;
  }
  footer button {
    font-size: 0.5em;
  }
}

@media only screen and (max-width: 320px) {
  #tile-row {
    width: 315px;
    height: 50px;
    padding: 0 1% 0 1%;
  }
  .tile {
    font-size: 2.2rem;
    height: 50px;
    width: 50px;
    line-height: 1em;
    box-shadow: 0px 20px 50px #555;
    transform: rotateX(50deg) scale(0.85);
    perspective: 800px;
  }
  #answer-row .tile {
    height: 50px;
    width: 50px;
  }
  #answer-row {
    width: 315px;
    height: 50px;
  }

  footer {
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 1rem;
    #theme-label {
      font-size: 1.2rem;
      margin: 0;
      order: 1;
      margin-top: 1rem;
    }
    button {
      margin: 0 1rem;
    }
  }
}

/* Turn off hover events on mobile*/
@media not all and (pointer: coarse) {
  #tile-row li:hover {
    transform: rotateX(0deg) scale(1);
  }
}
